<div class="mat-elevation-z8">

  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar">
  </mat-form-field>

    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="typeUser">
        <th mat-header-cell *matHeaderCellDef> Tipo de Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.type_user}} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Rol </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="Editar usuario" (click)="editUser(element)">
            <mat-icon>edit</mat-icon></button>
          <button mat-icon-button aria-label="Eliminar usuario" (click)="deleteUser(element._id)">
            <mat-icon>delete</mat-icon></button>
          <button mat-icon-button aria-label="Reiniciar contraseña" (click)="resetPassword(element._id)">
            <mat-icon>lock_open</mat-icon></button>
      </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  
