<mat-toolbar class="main-header" style="background-color: #3262a8;">
  <button (click)="toggleSidenav.emit()" mat-icon-button style="color: white;">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="branding">
      <a [routerLink]="['/']">
    <div class="logo"></div>
      </a>
  </div>
  <div class="search-bar" fxFlex>
      <a [routerLink]="['/']">
        <h1 style="color: white;">Ages Together</h1>
      </a>
  </div>
  <button (click)="fullScreenToggle()" mat-icon-button>
    <mat-icon style="color: white;">fullscreen</mat-icon>
  </button>
  <h1 style="color: white;">{{username}}</h1>
  <button [matMenuTriggerFor]="user" mat-icon-button class="ml-xs">
    <mat-icon style="color: white;">menu</mat-icon>
  </button>
  <mat-menu #user="matMenu" x-position="before">
    <button mat-menu-item (click)="signOut()">
      <mat-icon>exit_to_app</mat-icon>
      Cerrar sesión
    </button>
  </mat-menu>
</mat-toolbar>
